*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
}
li{
    list-style: none;
}
header ul li{
    margin: 0 25px;
}
.container{
    max-width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}

.btn{
    padding: 10px;
    color: white;
    background-color: #EC1A47;
    width: 90px;
    border-radius: 5px;
    text-align: center;
}
.logSec ul li{
    display: flex;
}
header h1 span{
    font-size: 15px;
    text-align: end;
}
header h1{
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.btn-outline{
    color: #EC1A47;
    background-color: transparent;   
    border: #EC1A47 2px solid;
}
.card{
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    max-width: 300px;
    width: 300px;
}
.card .card-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.card .description{
    font-size: 12px;
    margin-bottom: 5px;
}
.card .footer{
    font-weight: 700;
    font-size: 10px;
    display: flex;
    color: rgb(136, 136, 136);
}
.card .footer .midPoint{
    margin: 0 5px;
}
.card-img{
    border-radius: 10px 10px 01px 0px;
    max-width: 300px;
}
main{
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
}